# Ignore all files in a folder
Library/*
Temp/*
Logs/*
Logs/AssetImportWorker0-prev.log
Logs/AssetImportWorker0.log
Logs/AssetImportWorker1-prev.log
Logs/AssetImportWorker1.log
Logs/shadercompiler-AssetImportWorker0.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
